@model EntityLayer.Concrete.Heading

@{
    ViewBag.Title = "NewHeading";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div class="container">
    @using (Html.BeginForm("NewHeading", "WriterPanel", FormMethod.Post))
    {
        <label>Heading Title</label>
        @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.HeadingName, "", new { @style = "color:red" })
        <br />
        <label>Heading Category</label>
        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.Categories, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryId, "", new { @style = "color:red" })
        <br />
        <button class="btn btn-primary">Add Heading</button>
    }
</div>