@model IEnumerable<EntityLayer.Concrete.Category>
@{
    ViewBag.Title = "GetList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />


<div class="container">
    <table class="table table-bordered text-center">
        <tr>
            <th>#</th>
            <th>Category Name</th>
            <th>Category Description</th>
            <th>Category Status</th>
            <th>Headings</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.CategoryName</td>
                <td>@item.CategoryDescription</td>
                <td>@item.CategoryStatus</td>
                <td><a href="/Category/DeleteCategory/@item.CategoryId" class="btn btn-danger">Delete</a></td>
                <td><a href="/Category/UpdateCategory/@item.CategoryId" class="btn btn-warning">Update</a></td>
                <td><a href="/Category/HeadingList/@item.CategoryId" class="btn btn-primary">Headings</a></td>
            </tr>
        }
    </table>
    <a href="/Category/AddCategory/" class="btn btn-outline-success mt2 mb-2">New Category</a>
</div>